services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  api:
    build: ./api
    ports:
      - "3000:3000"
    environment:
      - REDIS_URL=redis:6379
    depends_on:
      - redis
    volumes:
      - ./uploads:/root/uploads

  worker:
    build: ./worker
    environment:
      - REDIS_URL=redis:6379
    depends_on:
      - redis
    volumes:
      - ./uploads:/root/uploads