apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: cloud-native-api:v1
        imagePullPolicy: Never 
        ports:
        - containerPort: 3000
        env:
        - name: REDIS_URL
          value: "redis-service:6379" 
        volumeMounts:
        - name: storage
          mountPath: /root/uploads
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: task-pv-claim
---
apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  type: NodePort 
  selector:
    app: api
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30080 